HashGenService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.hashgen.bellintegrator.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.hashgen.bellintegrator.ru/" name="HashGenService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.hashgen.bellintegrator.ru/" schemaLocation="http://ms-loadrtst045:7001/HashGen/HashGenService?xsd=1"/>
</xsd:schema>
</types>
<message name="urlQuote">
<part name="parameters" element="tns:urlQuote"/>
</message>
<message name="urlQuoteResponse">
<part name="parameters" element="tns:urlQuoteResponse"/>
</message>
<message name="getHashByConcat">
<part name="parameters" element="tns:getHashByConcat"/>
</message>
<message name="getHashByConcatResponse">
<part name="parameters" element="tns:getHashByConcatResponse"/>
</message>
<message name="getHashByConcatWithSecretKey">
<part name="parameters" element="tns:getHashByConcatWithSecretKey"/>
</message>
<message name="getHashByConcatWithSecretKeyResponse">
<part name="parameters" element="tns:getHashByConcatWithSecretKeyResponse"/>
</message>
<portType name="HashGenService">
<operation name="urlQuote">
<input wsam:Action="http://ws.hashgen.bellintegrator.ru/HashGenService/urlQuoteRequest" message="tns:urlQuote"/>
<output wsam:Action="http://ws.hashgen.bellintegrator.ru/HashGenService/urlQuoteResponse" message="tns:urlQuoteResponse"/>
</operation>
<operation name="getHashByConcat">
<input wsam:Action="http://ws.hashgen.bellintegrator.ru/HashGenService/getHashByConcatRequest" message="tns:getHashByConcat"/>
<output wsam:Action="http://ws.hashgen.bellintegrator.ru/HashGenService/getHashByConcatResponse" message="tns:getHashByConcatResponse"/>
</operation>
<operation name="getHashByConcatWithSecretKey">
<input wsam:Action="http://ws.hashgen.bellintegrator.ru/HashGenService/getHashByConcatWithSecretKeyRequest" message="tns:getHashByConcatWithSecretKey"/>
<output wsam:Action="http://ws.hashgen.bellintegrator.ru/HashGenService/getHashByConcatWithSecretKeyResponse" message="tns:getHashByConcatWithSecretKeyResponse"/>
</operation>
</portType>
<binding name="HashGenServicePortBinding" type="tns:HashGenService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="urlQuote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHashByConcat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHashByConcatWithSecretKey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HashGenService">
<port name="HashGenServicePort" binding="tns:HashGenServicePortBinding">
<soap:address location="http://ms-loadrtst045:7001/HashGen/HashGenService"/>
</port>
</service>
</definitions>